<Files .env>
    Order allow,deny
    Deny from all
</Files>

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.(sql|log|sh|bak|zip|tar|gz)$">
    Order allow,deny
    Deny from all
</FilesMatch>